findspark~=2.0.1
pyspark>=3.0.0
setuptools~=68.1.2
tensorflow~=2.13.0
langdetect~=1.0.9
tqdm~=4.66.1
nltk~=3.8.1
jieba~=0.42.1
py4j~=0.10.9.7
tensorflow-datasets==4.9.2
apache_beam
requests==2.21.0
datasets~=2.14.4